<footer class="main-footer">
    <h3 class="contact-title">Kontakt</h3>
    <div id="contact">
        <span class="personal-info">
            <%- include('../icons/email') %>
            <a href="mailto:emelipasini@gmail.com">E-Mail an mich senden</a>
        </span>
        <span class="personal-info">
            <%- include('../icons/download') %>
            <a download href="/files/lebenslauf-pasini.pdf">Lebenslauf herunterladen</a>
        </span>
        <span class="social-media">
            <%- include('../icons/github') %>
            <a href="https://github.com/emelipasini" target="_blank" rel="noreferrer">GitHub</a>
        </span>
        <span class="social-media">
            <%- include('../icons/linkedin') %>
            <a href="https://linkedin.com/in/emelipasini" target="_blank" rel="noreferrer">Linkedin</a>
        </span>
    </div>

    <a href="https://github.com/emelipasini/portfolio" target="_blank" rel="noreferrer">
        <small class="signature">Code ansehen</small>
    </a>
</footer>
