<footer>
    <h3 id="contact">Contact</h3>

    <a href="mailto:emelipasini@gmail.com">Send me an email</a>
    <a href="tel:+4915205352141">Call me</a>

    <a href="https://github.com/emelipasini/portfolio" target="_blank" rel="noreferrer">
        <small>Made with ❤ by Emeli Pasini - 2023</small>
    </a>
</footer>
