<header class="main-header">
    <nav class="navigation">
        <div class="logo">
            <a href="/#home">
                <img width="30" height="30" src="/images/logo.webp" alt="Ein Bild mit meinen Initialen darauf." />
            </a>
        </div>

        <div class="menu-toggle">
            <span class="hamburguer"> <%- include('../icons/menu') %> </span>
        </div>

        <div class="internal-links">
            <a href="/api/docs">API</a>
            <a href="/#standards">Standards</a>
            <a href="/#experience">Erfahrung</a>
            <a href="/#projects">Projekte</a>
            <a href="/#questions">Fragen</a>
            <a href="/#about">Über mich</a>
            <a href="/#contact">Kontakt</a>
        </div>
    </nav>
</header>
