<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Emelí Pasini</title>
<meta name="description" content="Portfolio of Emelí Pasini, 2 years of experience as a Junior Backend Developer" />

<meta property="og:title" content="👩‍💻 Portfolio of Emelí Pasini" />
<meta
    property="og:description"
    content="Portfolio of Emelí Pasini, 2 years of experience as a Junior Backend Developer"
/>

<meta property="og:image" content="/images/pfp.jpg" />
<meta property="og:image:alt" content="A photograph of Emelí Pasini smiling and looking at the camera." />

<link rel="icon" type="image/png" href="/images/logo.png" />

<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#282c34" />

<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/index.css" />

<link rel="stylesheet" media="screen and (min-width: 768px)" href="css/small.css" />
<link rel="stylesheet" media="screen and (min-width: 992px)" href="css/medium.css" />
<link rel="stylesheet" media="screen and (min-width: 1200px)" href="css/large.css" />

<script defer src="js/navigation.js"></script>
