<header class="main-header">
    <nav class="navigation">
        <span class="logo">
            <a href="/#home">
                <img width="30" height="30" src="/images/logo.png" alt="image with my initials" />
            </a>
        </span>

        <span class="internal-links">
            <a href="/#experience">Experience</a>
            <a href="/#projects">Projects</a>
            <a href="/#questions">Questions</a>
            <a href="/#contact">Contact</a>
        </span>
    </nav>
</header>
