<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Emelí Pasini</title>
<meta
    name="description"
    content="Ich bin Webentwickler mit Full-Stack-Kenntnissen und spezialisiert auf Backend. 
    Kontaktieren Sie mich, damit wir gemeinsam großartige Software entwickeln können. 
    Ich lege großen Wert auf sauberen Code, Nachhaltigkeit und gute Zusammenarbeit im Team."
/>

<meta property="og:title" content="👩‍💻 Portfolio von Emelí Pasini - Backend-Entwicklerin mit 2 Jahren Erfahrung" />
<meta
    property="og:description"
    content="Ich entwickle gerne sauberen und nachhaltigen Code - am liebsten im Team.
    Kontaktieren Sie mich - ich freue mich auf neue Herausforderungen!"
/>

<meta property="og:image" content="/images/pfp.webp" />
<meta property="og:image:alt" content="Ein Foto von mir, wie ich lächle und in die Kamera schaue." />

<link rel="icon" type="image/webp" href="/images/logo.webp" />

<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#21252b" />

<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/index.css" />

<link rel="stylesheet" media="screen and (min-width: 768px)" href="css/small.css" />
<link rel="stylesheet" media="screen and (min-width: 992px)" href="css/medium.css" />
<link rel="stylesheet" media="screen and (min-width: 1200px)" href="css/large.css" />

<script defer src="js/navigation.js"></script>
