<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Emelí Pasini</title>
<meta name="description" content="Contact me so we can build great software together. Software Web Developer with 
full stack knowledge, specialised in Backend. Focused on code quality, making it sustainable and improving teamwork." />

<meta property="og:title" content="👩‍💻 Portfolio of Emelí Pasini - Backend developer with 2 years of experience" />
<meta
    property="og:description"
    content="Contact me so we can build great software together. Software Web Developer with full stack knowledge, 
    specialised in Backend. Focused on code quality, making it sustainable and improving teamwork."
/>

<meta property="og:image" content="/images/pfp.jpg" />
<meta property="og:image:alt" content="A photograph of Emelí Pasini smiling and looking at the camera." />

<link rel="icon" type="image/png" href="/images/logo.webp" />

<meta name="robots" content="index, follow" />
<meta name="theme-color" content="#21252b" />

<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/index.css" />

<link rel="stylesheet" media="screen and (min-width: 768px)" href="css/small.css" />
<link rel="stylesheet" media="screen and (min-width: 992px)" href="css/medium.css" />
<link rel="stylesheet" media="screen and (min-width: 1200px)" href="css/large.css" />

<script defer src="js/navigation.js"></script>
