<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>

        <main id="home">
            <div class="main-page">
                <div class="presentation">
                    <h1>Emelí Pasini</h1>
                    <h2>>_ Junior Backend-Entwicklerin</h2>

                    <h3>2 Jahre Berufserfahrung + 1 Jahr Unterrichtserfahrung</h3>
                    <p>
                        Ich schreibe sauberen Code und arbeite gern im Team. Es ist mir wichtig, Wissen mit anderen zu
                        teilen. Ich lerne schnell und bringe gerne neue Ideen ins Team.
                    </p>
                    <small>Argentinisch-italienisch, wohnhaft in Bochum, Deutschland.</small>
                </div>

                <aside class="profile-picture">
                    <img
                        id="photo-image"
                        title="Foto von Emelí Pasini"
                        alt="Ein Foto von Emelí Pasini, auf dem sie lächelt und in die Kamera schaut."
                        src="/images/pfp.webp"
                    />
                </aside>
            </div>

            <div id="experience">
                <section>
                    <h2>Erfahrung</h2>
                    <ul>
                        <li class="list-item">
                            <p>
                                <a href="https://www.geosystems.com.ar/en/" target="_blank" rel="noreferrer"
                                    >Geosystems S.A.</a
                                >
                                <span class="date">
                                    <time datetime="2022-04">Apr 2022</time> - <time datetime="2023-07">Jul 2023</time>
                                </span>
                                <span class="position"> Junior Full Stack Entwicklerin </span>
                                <span class="description">
                                    Entwicklung von APIs mit ASP.NET und Python (PostgreSQL). Verbesserung eines
                                    React-npm-Pakets. Einführung von Programmierstandards im Team.</span
                                >
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a
                                    href="https://www.linkedin.com/company/ulthar-software/"
                                    target="_blank"
                                    rel="noreferrer"
                                    >Ulthar Software</a
                                >
                                <span class="date">
                                    <time datetime="2021-02">Feb 2021</time> - <time datetime="2021-08">Aug 2021</time>
                                </span>
                                <span class="position"> Junior Backend Entwicklerin </span>
                                <span class="description"
                                    >API-Entwicklung mit Node.js, Serverless, TypeScript und MongoDB. Anwendung von TDD
                                    mit Jest zur Sicherstellung der Qualität.</span
                                >
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a href="https://www.digitalhouse.com/ar" target="_blank" rel="noreferrer"
                                    >Digital House</a
                                >
                                <span class="date">
                                    <time datetime="2020-02">Feb 2020</time> - <time datetime="2021-06">Jun 2021</time>
                                </span>
                                <span class="position"> Lehrassistentin im Full Stack Bootcamp </span>
                                <span class="description"
                                    >Unterstützung der Teilnehmer:innen bei Übungen und technischen Fragen im
                                    Kurs.</span
                                >
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="more-info">
                                Für mehr Informationen <a href="/#contact">schreiben</a> Sie mir gern.
                            </p>
                        </li>
                    </ul>
                </section>

                <aside class="technologies">
                    <header>
                        <h3>Meine liebsten <strong>Technologien</strong>...</h3>
                    </header>
                    <ol type="1" reversed start="10">
                        <li>Node.js</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>Express.js</li>
                        <li>Jest</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                        <li>Git</li>
                        <li>Shell</li>
                        <li>Swagger</li>
                    </ol>
                </aside>
            </div>

            <div id="projects">
                <div>
                    <h2>Projekte</h2>
                    <section class="projects-section">
                        <article class="project">
                            <header>
                                <h4>Projekt für die Stadtregierung von Buenos Aires (CABA)</h4>
                            </header>
                            <p class="project-description">
                                Refactoring einer bestehenden API durch Verbesserung der Struktur und Codequalität.<br />
                                Erneuerung eines NPM-Pakets mit verbessertem Design und moderneren Technologien.
                            </p>
                            <footer>
                                <small>Technologien: TypeScript, Python, SCSS, React, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Projekt für ein privates Unternehmen</h4>
                            </header>
                            <p class="project-description">
                                Entwicklung einer API, die mit einer Datenbank und einer externen API kommuniziert,
                                welche den gesamten Informationsfluss im Unternehmen steuert.
                            </p>
                            <footer>
                                <small>Technologien: C#, ASP.NET, xUnit, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Projekt für die Kläranlage in Buenos Aires</h4>
                            </header>
                            <p class="project-description">
                                Das Projekt erreichte die letzte Phase: Optische Korrekturen, Bugfixes, Code-Optimierung
                                und Implementierung der letzten Funktionen.
                            </p>
                            <footer>
                                <small>Technologien: Angular, JavaScript, Openlayers, D3.js</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Projekt für einen Privatkunden</h4>
                            </header>
                            <p class="project-description">
                                Entwicklung einer App zur Buchung und Durchführung virtueller Arzttermine.
                            </p>
                            <footer>
                                <small>
                                    Technologien: Serverless, Node.js, TypeScript, AWS Lambda, MongoDB, Jest
                                </small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Geo-Projekt (persönlich)</h4>
                            </header>
                            <p class="project-description">
                                GraphQL-Server auf TypeScript-Basis, integriert mit Apollo. Verwendet eine
                                JSON-Server-API zur Verarbeitung geografischer Daten.
                                <a href="https://github.com/emelipasini/geo-project" target="_blank" rel="noreferrer"
                                    >Code ansehen</a
                                >.
                            </p>
                            <footer>
                                <small>Technologien: TypeScript, GraphQL, Node.js, ESLint, Jest</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Kakebo Manager (persönlich)</h4>
                            </header>
                            <p class="project-description">
                                Eine Anwendung, die im Terminal läuft, um die eigenen Finanzen zu verwalten.
                                <a href="https://github.com/emelipasini/kakebo-manager" target="_blank" rel="noreferrer"
                                    >Code ansehen</a
                                >.
                            </p>
                            <footer>
                                <small>Technologien: TypeScript, Node.js, Inquirer, ESLint, Husky </small>
                            </footer>
                        </article>
                    </section>
                </div>
            </div>

            <div id="questions">
                <div>
                    <h2>Häufig gestellte Fragen</h2>
                    <section>
                        <details open class="question">
                            <summary>Haben Sie Erfahrung mit agilen Methoden?</summary>
                            <p class="answer">
                                Ja, ich habe mit Scrum und Kanban gearbeitet. Ich kenne den Prozess gut, auch wenn die
                                Regeln im Unternehmen nicht immer genau eingehalten wurden. In den Retrospektiven kam es
                                manchmal zu Konflikten zwischen dem Kunden und dem Team, weil die Anforderungen nicht
                                klar genug waren. Das hat mir gezeigt, wie wichtig gute Dokumentation ist.
                            </p>
                        </details>

                        <details class="question">
                            <summary>
                                Wie stellen Sie den Datenschutz und die Sicherheit in Ihren Entwicklungen sicher?
                            </summary>
                            <p class="answer">
                                Ich arbeite vor allem im Backend. Ich verschlüssele Passwörter, validiere Eingaben und
                                achte darauf, dass Daten sicher in die Datenbank gespeichert werden. So kann es zu
                                keiner SQL-Injektion kommen.
                            </p>
                        </details>

                        <details class="question">
                            <summary>Was verstehen Sie unter Softwarequalität und wie gewährleisten Sie diese?</summary>
                            <p class="answer">
                                Ich halte mich beim Programmieren an gängige Standards, z.B. bei der Benennung von
                                Variablen und Funktionen (je nach Sprache und Team). Da ich noch lerne, frage ich oft
                                erfahrenere Kolleg:innen nach ihrer Meinung, vor allem bei Themen wie Skalierbarkeit.
                                Wir tauschen oft Ideen aus. Ich achte auf sauberen Code, klare Aufgabenverteilung und
                                gute Programmierpraktiken, um die Wartung zu erleichtern.
                            </p>
                        </details>

                        <details class="question">
                            <summary>Was erwarten Sie von Ihrem Arbeitsumfeld oder von Ihren Führungskräften?</summary>
                            <p class="answer">
                                Ich wünsche mir Zusammenarbeit, gute Kommunikation und eine angenehme Atmosphäre. Wir
                                verbringen 40 Stunden pro Woche bei der Arbeit - deshalb ist es mir besonders wichtig,
                                mich dort wohlzufühlen. Ich schätze Führungskräfte, die Raum für Vorschläge und Lernen
                                geben.
                            </p>
                        </details>

                        <details class="question">
                            <summary>Welche Ausbildung haben Sie?</summary>
                            <p class="answer">
                                Ich bin Computertechnikerin, habe aber keine formale Ausbildung in Informatik. 2019 habe
                                ich einen Full-Stack-Developer-Kurs absolviert und mich seitdem ganz auf das
                                Programmieren konzentriert. Zusätzlich habe ich Online-Kurse zu ASP.NET, agilen
                                Methoden, MongoDB, Oracle und PostgreSQL gemacht.
                            </p>
                        </details>

                        <details class="question">
                            <summary>Was suchen Sie?</summary>
                            <p class="answer">
                                Ich suche ein Unternehmen, das seine Mitarbeiter:innen wertschätzt und ein angenehmes
                                Arbeitsklima bietet - wo ich weiter lernen und mein Deutsch verbessern kann.
                            </p>
                        </details>

                        <details class="question">
                            <summary>Welche Sprachen sprechen Sie?</summary>
                            <p class="answer">
                                Meine Muttersprache ist Spanisch, ich spreche fließend Englisch und habe
                                Deutschkenntnisse auf B1-Niveau.
                            </p>
                        </details>
                    </section>
                </div>
            </div>

            <div id="about">
                <div>
                    <h2>Über mich</h2>
                    <section>
                        <p>
                            Ich heiße Emelí, aber meine Freund:innen nennen mich Eme. Ich habe mit dem Programmieren in
                            der Schule angefangen. Dort habe ich gern die Übungen schwieriger gemacht, nur zum Spaß.
                        </p>
                        <p>
                            Ich mag das <strong class="emphasis">Testen und TDD</strong> sehr. Ich glaube, das macht den
                            Code besser. Dieses <strong class="emphasis">Wissen teile</strong>
                            ich gern mit anderen.
                        </p>
                        <p>
                            Ich habe vier Jahre Astronomie studiert. Das hat mir geholfen,
                            <strong class="emphasis">logisch zu denken</strong> und
                            <strong class="emphasis">Probleme zu lösen</strong>. Diese Fähigkeiten benutze ich heute
                            beim Programmieren.
                        </p>
                        <p>
                            Während meines Kurses war ich die <strong class="emphasis">beste Studentin</strong> und
                            später <strong class="emphasis">Lehrassistentin</strong>.
                        </p>
                        <p>
                            Ich habe APIs mit <strong class="emphasis">Serverless</strong>,
                            <strong class="emphasis"> ASP.NET</strong> und
                            <strong class="emphasis">Python</strong> gemacht – ohne vorherige Erfahrung – und sie
                            erfolgreich in <strong class="emphasis">Produktion</strong> gebracht.
                        </p>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./partials/footer'); %>
    </body>
</html>
