<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Emeli Pasini</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <h1>Welcolme to my portfolio!</h1>
        <h2>Thanks for passing by...</h2>
    </body>
</html>
