<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>

        <main id="home">
            <div class="main-page">
                <div class="presentation">
                    <h1>Emelí Pasini</h1>
                    <h2>>_ Junior Backend Developer</h2>

                    <h3>2 years of formal experience + 1 year teaching classes</h3>
                    <p>Focused on details. Constantly searching for improvement and learning. Team player.</p>
                    <small>Argentinian Italian living in Bochum, Germany.</small>
                </div>

                <aside class="profile-picture">
                    <img
                        id="photo-image"
                        title="Photo of Emelí Pasini"
                        alt="A photograph of Emelí Pasini smiling and looking at the camera."
                        src="/images/pfp.jpg"
                        onerror="this.src='/images/error.jpg'"
                    />
                </aside>
            </div>

            <div id="experience">
                <section>
                    <h2>Experience</h2>
                    <ul>
                        <li class="list-item">
                            <p>
                                <a href="https://www.geosystems.com.ar/en/" target="_blank" rel="noreferrer"
                                    >Geosystems S.A.</a
                                >
                                <span class="date"> Apr 2022 - Jul 2023 </span>
                                <span class="position"> Junior Full Stack Developer </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a href="https://ultharsoftware.com/" target="_blank" rel="noreferrer"
                                    >Ulthar Software</a
                                >
                                <span class="date"> Feb 2021 - Aug 2021 </span>
                                <span class="position"> Junior Backend Developer </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a href="https://www.digitalhouse.com/ar" target="_blank" rel="noreferrer"
                                    >Digital House</a
                                >
                                <span class="date"> Feb 2020 - Jun 2021 </span>
                                <span class="position"> Adjunct Professor of Full Stack Bootcamp </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="more-info">
                                Need more info? Go to the
                                <a href="/#contact">contact</a>
                                section.
                            </p>
                        </li>
                    </ul>
                </section>

                <aside class="technologies">
                    <header>
                        <h3>My favorite <strong>technologies</strong>...</h3>
                    </header>
                    <ol type="1" reversed start="10">
                        <li>Node.js</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>Express.js</li>
                        <li>Jest</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                        <li>Git</li>
                        <li>Shell</li>
                        <li>Swagger</li>
                    </ol>
                </aside>
            </div>

            <div id="projects">
                <div>
                    <h2>Projects</h2>
                    <section class="projects-section">
                        <article class="project">
                            <header>
                                <h4>Project carried out for the government of CABA</h4>
                            </header>
                            <p class="project-description">
                                Re-engineering an existing API by improving the structure and quality of the code.<br />
                                Renewal of an NPM package with an improved design and technologies.
                            </p>
                            <footer>
                                <small>Used technologies: TypeScript, Python, SCSS, React, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Project implementation for a private company</h4>
                            </header>
                            <p class="project-description">
                                Development of an API that communicates with the database and with another external API
                                that controls the entire flow of information in the company.
                            </p>
                            <footer>
                                <small>Used technologies: C#, ASP.NET, xUnit, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Execution of a project for the Buenos Aires water treatment plant</h4>
                            </header>
                            <p class="project-description">
                                Reaching the final stage of the project. Made aesthetic corrections, fixed bugs,
                                improved code quality and implemented final features.
                            </p>
                            <footer>
                                <small>Used technologies: Angular, JavaScript, Openlayers, D3.js</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Project for a private client</h4>
                            </header>
                            <p class="project-description">
                                Development of an application to book and hold virtual appointments with doctors.
                            </p>
                            <footer>
                                <small
                                    >Used technologies: Serverless, Node.js, TypeScript, AWS Lambda, MongoDB,
                                    Jest</small
                                >
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Geo Project (Personal)</h4>
                            </header>
                            <p class="project-description">
                                A TypeScript-based GraphQL server integrated with Apollo, utilizing a JSON server API
                                for handling geographical data. See the
                                <a href="https://github.com/emelipasini/geo-project" target="_blank" rel="noreferrer"
                                    >code</a
                                >.
                            </p>
                            <footer>
                                <small>Used technologies: TypeScript, GraphQL, Node.js, Eslint, Jest</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Kakebo Manager (Personal)</h4>
                            </header>
                            <p class="project-description">
                                An application that runs in the terminal to manage your personal finances. See the
                                <a href="https://github.com/emelipasini/kakebo-manager" target="_blank" rel="noreferrer"
                                    >code</a
                                >.
                            </p>
                            <footer>
                                <small> Used technologies: TypeScript, Node.js, Inquirer, Eslint, Husky </small>
                            </footer>
                        </article>
                    </section>
                </div>
            </div>

            <div id="questions">
                <div>
                    <h2>Frequently asked questions</h2>
                    <section>
                        <details open class="question">
                            <summary>What is your education?</summary>
                            <p class="answer">
                                I took a full stack developer course in 2019 and started to dedicate myself to
                                programming. I am also a computer technician and went to university to study astronomy
                                for 3 years, where I learnt logic, problem solving, proactivity and independence.
                            </p>
                        </details>

                        <details class="question">
                            <summary>(Open to work) What are you looking for?</summary>
                            <p class="answer">
                                I would like to be a Junior Backend Developer in a human company with warm people who
                                work as a team and help each other. I would love to work remotely with Node.js using
                                TypeScript or JavaScript and create APIs using TDD.
                            </p>
                        </details>

                        <details class="question">
                            <summary>What languages do you speak?</summary>
                            <p class="answer">I speak Spanish, English and I'm learning German (near A1 level).</p>
                        </details>

                        <details class="question">
                            <summary>What are your other interests?</summary>
                            <p class="answer">
                                I like to play video games like WoW or Factorio, reading about astronomy and going for
                                walks.
                            </p>
                        </details>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./partials/footer'); %>
    </body>
</html>
