<!DOCTYPE html>
<html lang="de">
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/header'); %>

        <main id="home">
            <div class="main-page">
                <div class="presentation">
                    <h1>Emelí Pasini</h1>
                    <h2>>_ Junior Backend-Entwicklerin</h2>

                    <h3>2 Jahre Berufserfahrung + 1 Jahr Unterrichtserfahrung</h3>
                    <p>Ich lege großen Wert auf sauberen Code, Teamarbeit und Wissenaustausch.</p>
                    <small>Argentinisch-italienisch, wohnhaft in Bochum, Deutschland.</small>
                </div>

                <aside class="profile-picture">
                    <img
                        id="photo-image"
                        title="Foto von Emelí Pasini"
                        alt="Ein Foto von Emelí Pasini, auf dem sie lächelt und in die Kamera schaut."
                        src="/images/pfp.webp"
                    />
                </aside>
            </div>

            <div id="experience">
                <section>
                    <h2>Erfahrung</h2>
                    <ul>
                        <li class="list-item">
                            <p>
                                <a href="https://www.geosystems.com.ar/en/" target="_blank" rel="noreferrer"
                                    >Geosystems S.A.</a
                                >
                                <span class="date">
                                    <time datetime="2022-04">Apr 2022</time> - <time datetime="2023-07">Jul 2023</time>
                                </span>
                                <span class="position"> Junior Full-Stack-Entwicklerin </span>
                                <span class="download">
                                    <a download href="/files/recommendation-letter.pdf"
                                        >Empfehlungsschreiben herunterladen</a
                                    >
                                </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a
                                    href="https://www.linkedin.com/company/ulthar-software/"
                                    target="_blank"
                                    rel="noreferrer"
                                    >Ulthar Software</a
                                >
                                <span class="date">
                                    <time datetime="2021-02">Feb 2021</time> - <time datetime="2021-08">Aug 2021</time>
                                </span>
                                <span class="position"> Junior Backend-Entwicklerin </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p>
                                <a href="https://www.digitalhouse.com/ar" target="_blank" rel="noreferrer"
                                    >Digital House</a
                                >
                                <span class="date">
                                    <time datetime="2020-02">Feb 2020</time> - <time datetime="2021-06">Jun 2021</time>
                                </span>
                                <span class="position"> Gastdozentin im Full-Stack-Bootcamp </span>
                            </p>
                        </li>
                        <li class="list-item">
                            <p class="more-info">
                                Mehr Infos? Zum
                                <a href="/#contact">Kontaktbereich</a>
                                gehen.
                            </p>
                        </li>
                    </ul>
                </section>

                <aside class="technologies">
                    <header>
                        <h3>Meine liebsten <strong>Technologien</strong>...</h3>
                    </header>
                    <ol type="1" reversed start="10">
                        <li>Node.js</li>
                        <li>TypeScript</li>
                        <li>JavaScript</li>
                        <li>Express.js</li>
                        <li>Jest</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                        <li>Git</li>
                        <li>Shell</li>
                        <li>Swagger</li>
                    </ol>
                </aside>
            </div>

            <div id="projects">
                <div>
                    <h2>Projekte</h2>
                    <section class="projects-section">
                        <article class="project">
                            <header>
                                <h4>Projekt im Auftrag der Regierung von CABA durchgeführt</h4>
                            </header>
                            <p class="project-description">
                                Refactoring einer bestehenden API durch Verbesserung der Struktur und Codequalität.<br />
                                Erneuerung eines NPM-Pakets mit verbessertem Design und moderneren Technologien.
                            </p>
                            <footer>
                                <small>Verwendete Technologien: TypeScript, Python, SCSS, React, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Project implementation for a private company</h4>
                            </header>
                            <p class="project-description">
                                Development of an API that communicates with the database and with another external API
                                that controls the entire flow of information in the company.
                            </p>
                            <footer>
                                <small>Verwendete Technologien: C#, ASP.NET, xUnit, Swagger</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Execution of a project for the Buenos Aires water treatment plant</h4>
                            </header>
                            <p class="project-description">
                                Reaching the final stage of the project. Made aesthetic corrections, fixed bugs,
                                improved code quality and implemented final features.
                            </p>
                            <footer>
                                <small>Verwendete Technologien: Angular, JavaScript, Openlayers, D3.js</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Project for a private client</h4>
                            </header>
                            <p class="project-description">
                                Development of an application to book and hold virtual appointments with doctors.
                            </p>
                            <footer>
                                <small
                                    >Verwendete Technologien: Serverless, Node.js, TypeScript, AWS Lambda, MongoDB,
                                    Jest</small
                                >
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Geo Project (Personal)</h4>
                            </header>
                            <p class="project-description">
                                A TypeScript-based GraphQL server integrated with Apollo, utilizing a JSON server API
                                for handling geographical data. See the
                                <a href="https://github.com/emelipasini/geo-project" target="_blank" rel="noreferrer"
                                    >code</a
                                >.
                            </p>
                            <footer>
                                <small>Verwendete Technologien: TypeScript, GraphQL, Node.js, Eslint, Jest</small>
                            </footer>
                        </article>

                        <article class="project">
                            <header>
                                <h4>Kakebo Manager (Personal)</h4>
                            </header>
                            <p class="project-description">
                                An application that runs in the terminal to manage your personal finances. See the
                                <a href="https://github.com/emelipasini/kakebo-manager" target="_blank" rel="noreferrer"
                                    >code</a
                                >.
                            </p>
                            <footer>
                                <small> Verwendete Technologien: TypeScript, Node.js, Inquirer, Eslint, Husky </small>
                            </footer>
                        </article>
                    </section>
                </div>
            </div>

            <div id="questions">
                <div>
                    <h2>Frequently asked questions</h2>
                    <section>
                        <details open class="question">
                            <summary>What is your education?</summary>
                            <p class="answer">
                                I am an IT Technician and in 2019 I took a Full Stack Developer course and started to
                                dedicate myself to programming. After that, I took Udemy courses on ASP.NET, agile
                                methodology, MongoDB, Oracle and PostgreSQL.
                            </p>
                        </details>

                        <details class="question">
                            <summary>(Open to work) What are you looking for?</summary>
                            <p class="answer">
                                I would like to be a Junior Backend Developer in a human company with warm people who
                                work as a team and help each other. I would love to work remotely with Node.js using
                                TypeScript or JavaScript and create APIs using TDD.
                            </p>
                        </details>

                        <details class="question">
                            <summary>What languages do you speak?</summary>
                            <p class="answer">
                                My mother tongue is Spanish, I speak English fluently, and I have a B1 level in German.
                            </p>
                        </details>

                        <details class="question">
                            <summary>What are your other interests?</summary>
                            <p class="answer">
                                I like to play video games like WoW or Factorio, reading about astronomy and going for
                                walks.
                            </p>
                        </details>
                    </section>
                </div>
            </div>

            <div id="about">
                <div>
                    <h2>About me</h2>
                    <section>
                        <p>
                            My name is Emelí, but my friends call me Eme. I started programming in high school, where I
                            added complexity to the exercises for fun.
                            <strong class="emphasis">I love testing and TDD</strong>, I believe in its importance, and I
                            like to <strong class="emphasis">share</strong> my knowledge about it.
                        </p>
                        <p>
                            I studied astronomy for 4 years, which taught me things I still use today, such as
                            <strong class="emphasis">logic</strong>,
                            <strong class="emphasis">problem solving</strong> and taking a
                            <strong class="emphasis">proactive</strong> approach to challenges.
                        </p>
                        <p>
                            Some of my achievements include being the <strong class="emphasis">best student</strong> of
                            the course and being hired as an <strong class="emphasis">adjunct professor</strong>,
                            developing APIs in <strong class="emphasis">Serverless</strong>,
                            <strong class="emphasis"> ASP.NET</strong> and
                            <strong class="emphasis">Python</strong> without any previous knowledge and taking it to
                            <strong class="emphasis">production</strong>.
                        </p>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./partials/footer'); %>
    </body>
</html>
