<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head'); %>
        <link rel="stylesheet" href="/css/not-found.css" />
    </head>
    <body>
        <%- include('./partials/header'); %>

        <main class="main-content">
            <h1>404 Not Found</h1>
            <p>The page that you are trying to reach was not found.</p>
        </main>

        <%- include('./partials/footer'); %>
    </body>
</html>
