.main-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.profile-picture > img {
    border-radius: 100%;
    width: 40%;
    display: block;
    margin: 70px auto 0 auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    margin-top: 30px;
}

.presentation > * {
    text-align: left;
    width: 80%;
    margin: 1px;
}

.presentation > h2 {
    margin-top: 10px;
}

.presentation > h3 {
    margin-top: 20px;
}

.presentation > p,
.presentation > small {
    margin-top: 7px;
}

#experience {
    width: 80%;
    text-wrap: balance;
    margin: 0 auto;
    padding-top: 50px;
}

#experience p {
    font-size: 1.2em;
}

#experience ul > li {
    color: var(--green);
}

#experience .date {
    display: block;
}

#experience .position {
    display: block;
    margin-top: 10px;
}

#experience .download {
    display: flex;
    gap: 5px;
    font-style: italic;
    margin-top: 5px;
    font-size: 0.8em;
}

#experience .more-info {
    font-style: italic;
    color: var(--blue);
}

.technologies {
    width: 100%;
}

.technologies h3 {
    margin-top: 50px;
    font-size: 1.3em;
}

.technologies li {
    font-size: 1.1em;
    margin-left: 15px;
}

.technologies strong {
    font-style: italic;
    color: var(--blue);
}

#projects,
#questions {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;
    margin: 30px auto;
    padding-top: 50px;
}

#questions {
    margin-bottom: 60px;
}

.projects-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    text-wrap: balance;
}

.question {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 20px;
}

.question > summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.question[open] {
    padding: 0.5em;
}

.question[open] summary {
    border-bottom: 1px solid var(--grey);
    margin-bottom: 0.5em;
}

.answer {
    padding: 0 20px;
}
