/* TODO: FIX SCROLL MOBILE */

.main-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.profile-picture > img {
    border-radius: 100%;
    width: 40%;
    display: block;
    margin: 70px auto 0 auto;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    margin-top: 30px;
}

.presentation > * {
    text-align: left;
    width: 80%;
    margin: 1px;
}

.presentation > h2 {
    margin-top: 10px;
}

.presentation > h3 {
    margin-top: 20px;
}

.presentation > p,
.presentation > small {
    margin-top: 7px;
}

#experience {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    margin: 50px auto;
}

#experience p {
    font-size: 1.2em;
}

#experience ul > li {
    color: var(--green);
}

#experience .date {
    display: block;
}

#experience .position {
    display: block;
    margin-top: 10px;
}

#experience .more-info {
    font-style: italic;
    color: var(--blue);
}

.technologies h3 {
    margin-top: 50px;
    font-size: 1.3em;
}

.technologies li {
    font-size: 1.1em;
    margin-left: 15px;
}

.technologies strong {
    font-style: italic;
    color: var(--blue);
}

#projects,
#questions {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-wrap: balance;
    margin: 50px auto;
}

.question {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
    margin-bottom: 20px;
}

.question > summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

.question[open] {
    padding: 0.5em;
}

.question[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

@media (min-width: 768px) {
    .profile-picture > img {
        width: 35%;
    }

    #experience .date {
        margin-left: 10px;
        display: inline;
    }
}

@media (min-width: 992px) {
    .main-page {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .presentation {
        width: 50%;
        margin-top: 135px;
    }

    .profile-picture {
        width: 40%;
        margin-top: 70px;
    }

    .profile-picture > img {
        width: 300px;
    }

    #experience {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        margin-top: 70px;
    }
}

@media (min-width: 1200px) {
    .main-page {
        width: 90%;
        margin: 0 auto;
    }

    .presentation {
        height: 100vh;
        margin-top: 0;
    }

    .presentation > h3 {
        margin-top: 40px;
    }

    .presentation > p,
    .presentation > small {
        margin-top: 7px;
    }

    .profile-picture,
    .profile-picture > img {
        margin-top: 0;
    }

    .technologies h3 {
        margin-top: 0;
        font-size: 1.3em;
    }

    #experience {
        width: 90%;
        justify-content: space-around;
        height: 100vh;
    }

    #projects {
        width: 90%;
        height: 100vh;
    }

    .projects-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .project {
        width: 40%;
        border: 2px solid white;
        border-radius: 20px;
        padding: 0 20px 20px 20px;
        margin-top: 20px;
        text-wrap: balance;
    }

    #questions {
        height: 100vh;
    }

    #questions section {
        width: 60%;
    }

    .question {
        margin-top: 20px;
    }
}
