.not-found-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 50vh;
}

.not-found-title {
    padding: 50px 50px 0 50px;
    margin: 0 auto;
}

.not-found-text {
    margin: 0 auto;
    padding: 0 50px;
}

.not-found-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (min-width: 768px) {
    .not-found-content {
        height: 70vh;
    }
}
